.sarsa--inline-popup {
  position: absolute;
  height: 2px;
  z-index: 500;

  &.above {
    bottom: 44px;
    display: flex;
    flex-direction: column-reverse;
  }

  &.right {
    right: 0;
  }

  .sarsa--inline-popup-children {
    position: relative;
  }

  .inline-popup-keyboard-close-btn {
    position: absolute;
    font-size: 14px;
    appearance: none;
    border: 0;
    background: var(--focus-color);
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-weight: 500;
    line-height: 24px;
    top: -8px;
    right: -12px;
    z-index: 10;
    opacity: 0;
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    outline: 0;

    &:focus {
      opacity: 1;
      // outline: solid 2px var(--focus-color);
      // border-color: transparent;
    }
  }
}
